.back {
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: inline-flex;
  padding: 0.3rem;
}

.list > button {
  box-shadow: 0px 0px 7px 0px #1564ad;
  background-color: #79bbff;
  border-radius: 15px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 8px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #528ecc;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
}

.list > button:hover {
  background-color: #378de5;
}

.list > button:active {
  position: relative;
  top: 1px;
}
